<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Résumé</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/resume3.css') }}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  </head>
  <body>
    <header>
      <h2>Résumé</h2>
      <button id="refresh-btn" onclick="updateCharts()">
        <strong>Actualiser</strong>
      </button>
    </header>
    <aside>
      <img
        id="logo"
        src="{{url_for('static', filename='assets/usthb-logo.png')}}"
      />
      <div id="menu">
        <div id="selected-menu-item" class="menu-item">
          <strong>Résumé</strong>
        </div>
        <a href="{{url_for('resume')}}" class="menu-item partie">partie 1</a>
        <a href="{{url_for('resume2')}}" class="menu-item partie">partie 2</a>
        <div id="selected-menu-item" class="menu-item partie">partie 3</div>
        <a href="{{url_for('chercher')}}" class="menu-item"
          ><strong>Chercher</strong></a
        >
        <a href="{{url_for('details')}}" class="menu-item"
          ><strong>Détails</strong></a
        >
      </div>
    </aside>
    <main>
      <div id="bar-area" class="card">
        <div class="card-header">
          <strong
            >le nombre des etudients par specialite, et le nombre des etudients
            admis par specialite, en 2021</strong
          >
        </div>
        <div class="card-body">
          <canvas id="bar-chart-grouped" width="160" height="67"></canvas>
        </div>
      </div>
    </main>
    <footer></footer>
    <script src="{{url_for('static', filename='js/resume3.js')}}"></script>
  </body>
</html>
